<html>
<head>
	<title>Heart Rate Analyzer</title>
	<style>
  		body {margin:0;padding:0;min-height:100%;}
  		p {text-align:center;}
  		h1   {color:Black; text-align:center}
  		h4   {color:Black; text-align:center}
  		#Wrapper {min-height: 100%; position: relative}
  		#Header {padding:0px;}
  		#Content {padding-bottom: 80px}
  		#Textbody {float:left; width:39%; text-align:center; padding-left: 10px;}
  		#Data {float:right; width:59%; text-align:center}
  		#Statsleft {float:left; width:30%; text-align:center}
  		#Statsright {float:right; width:70%; text-align:center}
  		/*#Images {float:up;}  */
  		#Form {float:none; text-align:center;}
  		#Footer {position:relative; width:95%; bottom:0; left:5; right:5, text-align:center; padding-top: 20px; clear:both;}	
  		li {margin:10px 0px 0px 10px;}	
	</style>
</head>

<body>
	<div id="Wrapper">
		<div id="Header">
			{% load staticfiles %}
			<img src="{% static "main/heartbeat_graphic.png" %}" alt="Header" width = 100%/>
			<h4>by Ben Ebersole and Evan Ogden</h6>

		</div>
		<div id="Content">
			<div id="Textbody">
				<p>Welcome!</p>
				<p>To use this wonderful tool and analyze your heartbeat, follow these steps!</p>
				<ol style="text-align:left">
					<li>Lightly press the smooth side of the heartrate sensor against your finger or earlobe</li>
					<li>When ready to begin taking your sample, press the breadboard button to begin taking data</li>
					<li>When finished, press the breadboard button once more</li>
					<li>Select your sample by timestamp in the drop down menu, and click "Display Selected Sample". Note that the timestamp is set at the end of the test</li>
				</ol>
				<p> Note that you may need to take an initial test sample to ensure a comfortable position that gives a consistent reading.</p>
			</div>
			<div id="Data">
				<div id="Images">
					<img src="/main/{{sample_id}}/current.png" width = 80% />
				</div>
				<div id="Statsleft">
					<p> <b> BPM: </b> {{sample.bpm_avg}}</p>
					<p> <b> Duration: </b> {{sample.duration}}</p>
				</div>
				<div id="Statsright">
					<p> <b> Heartrate Variability(SDANN): </b> {{sample.sdann}}</p>
					<p> <b> Timestamp: </b> {{sample.time_rec}}</p>
				</div>

				<div id="Form">
					<form name="Selector" action="{% url 'main:index' %}" method="post">
					{% csrf_token %}
					<select name="sample_dropdown">
						{% for item in sample_list %}
						<option value="{{item.id}}">{{item.get_menustring}}</option>
						{% endfor %}
					</select>
					<input type="submit" value="Display Selected Sample" />
					</form>
					<!--form name="Downloader" action"{% url 'main:download' sample_id%}" method="post">
						{% csrf_token %}
						<input type="submit" value="Download Current Data Set"/>
					</form-->
				</div>
			</div>
		</div>
		<div id="Footer">
			<footer style="">
				<p>DISCLAIMER: <i> This device and the associated software are not intended to be used in an official medical setting. The hardware, software, and data returned should not be used in health evaluations or decision making. By using this, you (the user) agree that we (Ben Ebersole and Evan Ogden) are not liable for any actions taken in response to using this setup.</i> </p>
			</footer>
		</div>
	</div>
</body>

</html>

